* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.header {
    background-color: #145DA0;
    padding: 20px;
    text-align: center;
    color:white;
    /*height: 100px;*/
    height: 20%;
}
.topnav {
    overflow: hidden;
    background-color: #B1D4E0;

}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
.footer {
    background-color: #145DA0;
    padding: 10px;
    text-align: center;
    color:white;
    /* height: 50px; */
    /*height: 10%;*/
}